@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #f6f6f6;
}

h1,
h2,
h3,
h4 {
    font-family: "Manrope", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================================================================== */
/* header section */
#header {
    background: url(img/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 549px;
    ;
}

.container {
    width: 1000px;
    margin: auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}

.logo {
    font-size: 27px;
    text-transform: capitalize;
    font-weight: 800;
    color: #4E47FF;
    font-family: manrope;
}

.sing-btn button {
    text-transform: capitalize;
    padding: 10px 23px;
    font-size: 14px;
    font-weight: 700;
    background: #4E47FF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.sing-btn button:hover {
    background: #d100ff;
    transition: .4s;
}

.bottom-header {
    width: 100%;
    text-align: center;
    margin-top: 137px;
}

.bottom-header button {
    margin-top: 15px;
    text-transform: capitalize;
    color: white;
    background: #4e47ff;
    border: none;
    padding: 13px 21px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Manrope';
    border-radius: 3px;
    cursor: pointer;
    transition: .4s;
}

.bottom-header button:hover {
    background: #d100ff;
    transition: .4s;
}

.bottom-header h1 {
    font-size: 38px;
    width: 535px;
    margin: auto;
}

/* =================================================================================== */
/* hero section */

.allhero-contet {
    display: flex;
    justify-content: space-between;
    gap: 136px;
    padding: 116px 0px;
    align-items: center;
}

.hero-img img {
    width: 431px;
    border-radius: 20px;
}

.hero-info h1 {
    font-size: 29px;
}

.hero-info p {
    padding: 12px 0px;
    margin-right: 121px;
    color: #0000006b;
    font-family: 'Inter';
    line-height: 21px;
}

.hero-info button {
    border: none;
    padding: 15px 12px;
    color: #ffffffed;
    background: #2196F3;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    border-radius: 4px;
    margin-top: 15px;
}

.hero-info button:hover {
    background: #ff5200;
    transition: .4s;
}

/* =================================================================================== */
/* counter section */
.all-counter {
    padding: 10px;
    background: lavender;
    border-radius: 13px;
    margin: 50px 0px;
}

h1.join-div {
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
}

.counter-contet {
    display: flex;
    justify-content: space-around;
    padding: 27px 0px;
    padding-bottom: 40px;
}

.single-counter {
    text-align: center;
}

.single-counter h1 {
    font-size: 38px;
    color: #3F51B5;
    font-weight: 800;
}

.single-counter p {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    color: #242424b5;
}

/* ========================================================== */
/* about section */
.about-info {
    padding: 50px 0px;
}

h1.about-header {
    text-align: center;
    font-size: 38px;
    color: #000000c4;
}

.all-about-card {
    margin-top: 35px;
    display: flex;
    gap: 31px;
}

.about-single {
    background: white;
    border-radius: 7px;
    padding: 22px;
}

.about-single h3 {
    margin-top: 15px;
    font-size: 19px;
}

.about-single {}

.about-single p {
    margin-top: 10px;
    color: #0000006b;
    font-size: 14px;
    line-height: 22px;
}

.about-img {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.about-img img {
    border-radius: 51%;
}

.aout-img-ingo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aout-img-ingo p {
    margin-top: inherit;
    text-transform: capitalize;
}

.aout-img-ingo h5 {
    color: #000000c2;
}

/* =================================================================== */
/* focus section */
.focus-content {
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 77px 0px;
}

.focus-content h1 {
    margin-top: 60px;
    font-size: 38px;
}

.focus-content p {
    padding: 10px 0px;
    font-size: 14px;
    color: #00000085;
    font-weight: 500;
}

.focus-img img {
    margin: 48px 0px;
    border-radius: 25px;
    width: 715px;
}

.focus-btn button {
    border: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: blue;
    padding: 15px 23px;
    border-radius: 7px;
    margin-top: 4px;
    cursor: pointer;
}

/* ================================================================================= */
/* inform section */
.inform-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inform-form {
    display: flex;
    flex-direction: column;
    width: 387px;
    line-height: 24px;
}

.inform-text h1 {
    font-size: 43px;
    width: 358px;
}

.inform-form label {
    font-size: 14px;
    font-weight: 600;
    color: #000000bf;
}

.inform-form input {
    padding: 11px;
    border-radius: 5px;
    border: 1px solid #0000001c;
    background: white;
    outline: none;
}

label.input-name {
    margin-top: 15px;
}

.inform-form textarea {
    padding: 11px;
    width: 100%;
    height: 97px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    outline: none;
}

label.input-msg {
    margin-top: 15px;
}

.inform-form button {
    margin-top: 21px;
    border: none;
    background: #2196F3;
    color: #ffffffe8;
    font-weight: 600;
    text-transform: capitalize;
    padding: 14px 11px;
    border-radius: 5px;
    cursor: pointer;
}

/* ========================================================================= */
/* footer section */
footer#footer-section {
    background: white;
    margin-top: 19px;
    height: 400px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
}

.footer-content h1 {
    text-transform: uppercase;
    font-size: 47px;
    font-weight: 800;
    color: #03A9F4;
}

.footer-content p {
    padding: 5px 265px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #00000073;
}

.footer-list ul {
    list-style: none;
    display: flex;
    text-transform: capitalize;
    gap: 28px;
    margin-top: 9px;
    font-weight: 600;
    color: #5127279c;
    font-size: 15px;
}