@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Manrope", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================================================================== */
/* header section */
#header {
    background: url(img/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container {
    width: 1000px;
    margin: auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}

.logo {
    font-size: 27px;
    text-transform: capitalize;
    font-weight: 800;
    color: #4E47FF;
    font-family: manrope;
}

.sing-btn button {
    text-transform: capitalize;
    padding: 10px 23px;
    font-size: 14px;
    font-weight: 700;
    background: #4E47FF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}
.sing-btn button:hover {
    background: #d100ff;
    transition: .4s;
}
.bottom-header {
    width: 100%;
    text-align: center;
    margin-top: 137px;
}

.bottom-header button {
    margin-top: 15px;
    text-transform: capitalize;
    color: white;
    background: #4e47ff;
    border: none;
    padding: 13px 21px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Manrope';
    border-radius: 3px;
    cursor: pointer;
    transition: .4s;
}
.bottom-header button:hover {
    background: #d100ff;
    transition: .4s;
}
.bottom-header h1 {
    font-size: 38px;
    width: 535px;
    margin: auto;
}